.happyhh-hero {
    background-image: url(../img/hero-img-HH.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 85vh;
    display: flex;
}

.stores {
    display: flex;
    flex-direction: row;
    position: relative;
    width: 100%;
    bottom: 5rem;
    align-items: flex-end;
    justify-content: space-evenly;
}

.happy-hedgehog {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 9rem;
    width: 100%;
    align-items: center;
}

.head-text {
    display: flex;
    flex-direction: column;
    width: 70%;
    padding: 2rem;
}

.head-text h2 {
    text-transform: uppercase;
    margin: 0;
    font-size: 3rem;
}

.ts-image {
    display: flex;
    justify-content: center;
    padding: 2rem;
    position: relative;
    top: -3rem;
}

.ts-image img {
    max-width: 75%;
    height: auto;
}

@media (max-width:768px) {

    .happyhh-hero {
        height: 50vh;
    }

    .stores {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        top: 140px;
        width: 30%;
        margin: 0 auto;
    }

    .appstore {
        margin-bottom: 15px;
    }

    .happy-hedgehog {
        width: 95%;
        padding: 0;
        margin: 0 auto;
    }

    .head-text {
        width: 100%;
        padding: 3rem 1rem;
    }

    .ts-image {
        padding: 0;
    }

    .ts-image img {
        max-width: 100%;
        height: 270px;
    }

   
}

/* THIRD SECTION */

.gameplay-section {
    background-image: url(../img/bg-work-us2.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: auto;
    display: flex;
    padding: 5rem;
    align-items: center;
    flex-direction: column;
}

.video-headline {
    padding-top: 3rem;
    color: #fff;
    font-size: 5rem;
}

.video {
    margin-bottom: 15rem;
    display: flex;
    justify-content: center;
}

.video img {
    width: 50%;
}

.image1-section {
    background-image: url(../img/bg-work-us4.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 130vh;
    position: relative;
    top: -8rem;
}

@media (max-width: 768px) {
    .gameplay-section {
        margin: 0 auto;
        padding: 1rem;
    }
    .video img {
        width: 100%;
        height: 196px;
    }

    .image1-section {
        background-position: center center;
        background-size: cover;
        width: 100%;
        height: 243px;
    }
}

/* ONLINE SECTION  */

.online-container {
    width: 100%;
    height: 130vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    top: -12rem;
    padding: 9rem;
}

.onine-headline {
    display: flex;
    flex-direction: column;
    padding:2rem;
    width: 70%;
}

.online-headline h2 {
    font-size: 4rem;
    margin: 0;
}

.online-image {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 70%;
    margin-bottom: 12rem;
}

.online-image .cellphone{
    margin-top: 3rem;
    z-index: 1;
    position: relative;
}

.online-image .topito{
    width: 25%;
    height: 77%;
    z-index: 4;
    position: absolute;
    right: 12rem;
}

.image2-section {
    background-image: url(../img/HappyHedgehog-02.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 130vh;
    position: relative;
    top: -8rem;
}

.download-container {
    background-image: url(../img/bg-horaninja.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    display: flex;
    height: 115vh;
    padding: 4rem 20rem;
    position: relative;
    top: -16rem;
    flex-direction: column;
    z-index: 100;
    
}

.download-head h2 {
    padding-top: 4rem;
    font-size: 4rem;
}
.online-headline h2.d-none {
    display: block;
}


.white {
    background-color: #fff;
}

.download-head.maps {
    display: none;
}

.texto-download {
    display: none;
}

.online-headline h2.online {
    display: none;
}

.img-ghost {
    display: none;
}

.img-mini-robot {
    display: none;
}

@media (max-width: 768px) {
    .online-container {
        height: 80vh;
        align-items: center;
        justify-content: center;
        top: -3rem;
        padding: 1rem;
        width: 95%;
        margin: 0 auto;
    }

    .online-image {
        width: 100%;
        margin-bottom: 0rem;
    }

    .online-image .cellphone {
        height: 168px;
    }

    .maps-img {
        height: 308px;
    }

    .image2-section {
        background-position: center center;
        height: 30vh;
        top: 0rem;
    }

    .online-image .topito {
        width: 25%;
        height: 25%;
        right: 0rem;
        bottom: -68px;
    }

    .download-container {
        position: relative;
        z-index: 100;
        background-size: cover;
        background-position: center center;
        width: 100%;
        height: auto;
        padding: 0;
        top: -3.5rem;
    }

    .download-head h2 {
        width: 90%;
        margin: 0 auto;
    }

    .texto-download {
        padding: 2rem 4rem 2rem 2rem;
    }

    .texto-download p {
        font-size: 1.2rem;
    }

    .download-head.maps {
        display: block;
    }

    .download-head.maps-text h2{
        margin-bottom: 20px;
    }

    .texto-download {
        display: block;
    }
    .online-headline h2.d-none {
        display: none;
    }

    .online-headline h2.online {
        display: block;
    }

    .img-ghost {
        width: 100%;
        display: block;
        position: relative;
    }

    .ghost {
        width: 25%;
        position: absolute;
        right: 0px;
        z-index: 900;
        top: 60px;
    }

    .img-mini-robot {
        width: 100%;
        display: block;
        position: relative;
    }
    
    .robot {
        width: 40%;
        position: absolute;
        left: 0px;
        bottom: -90px;
        z-index: 900;
    }
}

/*phone*/

.bg-phone {
    display: none;
}

@media (max-width: 768px) {
    .bg-phone {
        width: 100%;
        height: 100vh;
        background-image: url(../img/bg-game.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        position: relative;
        z-index: 900;
        top: -1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .image-display {
      width: 95%;
      display: flex;
      flex-direction: column;
    }
}


/* CAROUSEL */

.gallery-cell img {
    display: block;
    max-width: 85%;
    max-height: 88%;
  }

/* white circles */
.flickity-page-dots .dot {
    background: grey !important;
    border: 2px solid white;
    width: 14px !important;
    height: 14px !important;
    border: 2px solid grey;
  }
  .flickity-page-dots .dot.is-selected {
    background: white !important;
}

  .flickity-page-dots {
    bottom: 20px !important;
  }


  /*footer*/

  footer {
    margin-top: 100px;
    position: relative;
}

  @media (max-width: 768px) {
    footer {
        margin-top: 100px;
        height: 20vh;
        position: relative;
    }
  }