body {
  margin: 0;
}


.contenedor {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}

/* SECOND SECTION */

.mazeball-hero {
  background-image: url(../img/img-top-hero.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 85vh;
  display: flex;
}

.stores {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 50%;
  bottom: 5rem;
  left: 390px;
  align-items: flex-end;
  justify-content: space-evenly;
}

.mazeball-extreme {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 85px 0;
}

.head-text {
  display: flex;
  flex-direction: column;
  width: 70%;
}

.head-text h2 {
  text-transform: uppercase;
  margin: 0;
  font-size: 3rem;
}

.mz-image {
  display: flex;
  justify-content: center;
  padding: 2rem;
  position: relative;
  top: -3rem;
}

.mz-image img {
  width: 75%;
  height: auto;
}

/* THIRD SECTION */

.gameplay-section {
  background-image: url(../img/bg-work-us2.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: auto;
  display: flex;
  padding: 5rem;
  align-items: center;
  flex-direction: column;
}

.video-headline {
  padding-top: 3rem;
  color: #fff;
  font-size: 5rem;
}

.video {
  margin-bottom: 15rem;
}

iframe {
  border: none;
}

/* FOURTH SECTION  */

.game-container {
  background-image: url(../img/bg-game.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 150vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  top: -12rem;
  padding: 9rem;
}

.game-headline {
  display: flex;
  flex-direction: column;
  padding: 2rem 55px;
  width: 70%;
}

.game-headline h2 {
  font-size: 4rem;
  margin: 0;
}

.game-image {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 70%;
  margin-bottom: 12rem;
}

.game-image phone {
  display: flex;
}

.game-image .phone-mob {
  display: none;
}

.game-image img {
  max-width: 25%;
  height: auto;
}

/* FIFTH SECTION */

.update-container {
  background-image: url(../img/bg-update.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  display: flex;
  height: auto;
  padding: 4rem 20rem;
  position: relative;
  top: -25rem;
  flex-direction: column;
}

.update-container h2 {
  padding-top: 4rem;
  font-size: 4rem;
}

.white {
  background-color: #fff;
}

/* CAROUSEL */

/* white circles */
.flickity-page-dots .dot {
  background: grey !important;
  border: 2px solid white;
  width: 14px !important;
  height: 14px !important;
  border: 2px solid grey;
}
.flickity-page-dots .dot.is-selected {
  background: white !important;
}

.flickity-page-dots {
  bottom: 20px !important;
}

.gallery-cell img {
  display: block;
  max-width: 100%;
  max-height: 700px;
}

@media (max-width: 1024px) {
  .update-container {
    padding: 2rem;
    height: 50vh;
  }

  .flickity-page-dots {
    bottom: -25px !important;
  }

  .head-text {
    width: 100%;
  }

  .game-headline {
    padding: 2rem 5px;
    width: 100%;
  }
  .game-container {
      height: 65vh;
  }
}

@media (max-width: 770px){
    .game-container {
        height: 80vh;
    }
}

@media (max-width: 500px) {
  .mazeball-hero {
    height: 70vh;
  }

  .stores {
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    left: 0;
    top: 295px;
    height: 30vh;
  }

  .appstore,
  .playstore {
    max-width: 50%;
    margin-bottom: 5px;
  }

  .head-text h2 {
    font-size: 5rem;
  }

  .head-text p {
    font-size: 2rem;
  }

  .mz-image {
    padding: 0;
    top: 0;
  }

  .mz-image img {
    width: 100%;
    height: 235px;
  }

  .gameplay-section {
    background-size: 100%;
    padding: 0;
    height: 60vh;
  }

  .video iframe {
    width: 100%;
    height: 100%;
  }

  .game-container {
    background-position: center center;
    height: 100vh;
    top: -10rem;
    padding: 1rem;
  }

  .game-headline h2 {
    font-size: 6rem;
  }

  .game-headline p {
    font-size: 2rem;
  }

  .game-image {
      width: 100%;
  }
  .game-image .phone {
    display: none;
  }

  .game-image .phone-mob {
    display: flex;
  }

  .game-image img {
      max-width: 1200px;
      width: 100%;
      height: 340px;
  }

  .update-container {
    height:45vh;
  }

  .gallery-cell img {
    display: block;
    max-width: 100%;
    max-height: 250px;
}
}
