/* SECOND SECTION */

.mazeball-hero {
    background-image: url(../img/img-top-hero.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 85vh;
    display: flex;
}

.stores {
    display: flex;
    flex-direction: row;
    position: relative;
    width: 100%;
    bottom: 5rem;
    align-items: flex-end;
    justify-content: space-evenly;
}

.mazeball-extreme {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 9rem;
    width: 100%;
    align-items: center;
}

.head-text {
    display: flex;
    flex-direction: column;
    width: 70%;
    padding: 2rem;
}

.head-text h2 {
    text-transform: uppercase;
    margin: 0;
    font-size: 3rem;
}

.mz-image {
    display: flex;
    justify-content: center;
    padding: 2rem;
    position: relative;
    top: -3rem;
}

.mz-image img {
    max-width: 75%;
    height: auto;
}

/* THIRD SECTION */

.gameplay-section {
    background-image: url(../img/bg-work-us2.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: auto;
    display: flex;
    padding: 5rem;
    align-items: center;
    flex-direction: column;
}

.video-headline {
    padding-top: 3rem;
    color: #fff;
    font-size: 5rem;
}

.video {
    margin-bottom: 15rem;
}

iframe {
    border: none;
}

/* FOURTH SECTION  */

.game-container {
    background-image: url(../img/bg-game.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    top: -12rem;
    padding: 9rem;
}

.game-headline {
    display: flex;
    flex-direction: column;
    padding:2rem;
    width: 70%;
}

.game-headline h2 {
    font-size: 4rem;
}

.game-image {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 70%;
    margin-bottom: 12rem;
}

.game-image img  {
    max-width: 25%;
    height: auto;
}

/* FIFTH SECTION */

.update-container {
    background-image: url(../img/bg-update.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    display: flex;
    height: auto;
    padding: 4rem 20rem;
    position: relative;
    top: -23rem;
    flex-direction: column;
    
}

.update-container h2 {
    padding-top: 4rem;
    font-size: 4rem;
}

.white {
    background-color: #fff;
}