
main {
    height: auto;
}

.corte {
   box-sizing: content-box;
}
/*hero*/

.hero-toons {
    width: 100%;
    height: auto;
}


/* toons container */

.social-toons {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
    height: 135vh;
}
.social-toons.contenedor {
    width: 90%;
}

.text-toons {
    margin-bottom: 5rem;
}

.text-toons h2 {
    font-size: 5rem;
    font-weight: bold;
    text-transform: uppercase;
}
.text-toons p {
    font-size: 2rem;
}

.img-toons {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.img-toons img {
    width: 100%;
    height: auto;
}

.img-toons img:nth-child(1) {
    position: absolute;
    width: 50%;
    /* order: 2; */
    top: 11rem;
    right: -1rem;
}

.img-toons img:nth-child(2) {
    width: 90%;
    position: absolute;
    right: 4rem;
    top: 26rem;
}

.img-toons img:nth-child(3) {
    width: 90%;
}

@media (min-width: 375px) {
    .social-toons {
        height: 100vh;
    }
}

@media (min-width: 1280px) {

    .social-toons {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 0;
        height: 125vh;
    }

    .social-toons.contenedor {
        width: 50%;
    }

    .img-toons {
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    
    .img-toons img {
        width: 50%;
        height: auto;
    }
    
    .img-toons img:nth-child(1) {
        position: relative;
        width: 30%;
        order: 2;
        top: 0;
        right: 0;
    }
    
    .img-toons img:nth-child(2) {
        width: 30%;
        position: absolute;
        right: 16rem;
        top: 19rem;
    }
    .img-toons img:nth-child(3) {
        width: 50%;
    }
}

@media (min-width: 1024px) {
    .social-toons {
        height: 70vh;
    }
}

@media (min-width: 1280px) {
    .social-toons {
        height: 100vh;
    }
}



/*grilla*/

.bg-grilla-toons {
    background-image: url(../img/bg-game.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 135vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.color-grilla {
    width: 95%;
}
.texto-grilla {
    width: 95%;
    position: relative;
    top: 0rem;
    left: 0rem;
}

.texto-grilla h2 {
    text-transform: uppercase;
    margin: 0;
}

.grilla-website {
    position: relative;
    height: auto;
    width: 95%;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    height: 105vh;
    grid-row-gap: 1rem
}

.img-grilla:nth-child(1) {
    background-image: url(../img/juego.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    grid-row: 1;
}

.img-grilla:nth-child(2) {
    background-image: url(../img/socialtoons-mobile.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    grid-row: 2;
    
}

.texto-edw h2 {
    display: none;
}

.img-grilla:nth-child(2) img {
    display: none;
}


.img-grilla:nth-child(3) {
    background-image: url(../img/website-3.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    grid-row: 3;
}

.img-grilla:nth-child(3) img {
    display: none;
}



.img-grilla:nth-child(4) {
   display: none;
}

@media (min-width: 375px) {
    .grilla-website {
        height: 90vh;
    }
}

@media (min-width: 768px) {
    .bg-grilla-toons {
        height: 165vh;
    }
    .grilla-website {
        height: 135vh;
    }
}


@media (min-width: 1024px) {

    .bg-grilla-toons {
        background-image: url(../img/bg-game.png);
        background-repeat: no-repeat;
        background-position: unset;
        background-size: cover;
        height: 125vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .texto-grilla {
        width: 95%;
        position: relative;
        top: 2rem;
    }
    
    .texto-grilla h2 {
        text-transform: uppercase;
        margin: 0;
    }
    
    .grilla-website {
        position: relative;
        height: auto;
        width: 95%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr);
        height: auto;
    }
    
    .img-grilla:nth-child(1) {
        background-image: url(../img/juego.png);
        background-repeat: no-repeat;
        background-position: bottom;
        background-size: contain;
        grid-column: 1 / 3;
        grid-row: 1/ 3;
        margin-bottom: 2rem;
    }
    
    .img-grilla:nth-child(2) {
        background-image: url(../img/fondo-grilla-juegos.png);
        background-repeat: no-repeat;
        background-position: unset;
        background-size: contain;
        grid-column: 1 / 2;
        grid-row: 3 / 5;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 1rem 4rem 2rem 1rem;
    }
    
    .texto-edw h2 {
        margin: 0 0 .5rem 0;
        text-transform: uppercase;
        color: white;
        font-weight: 700;
        font-family: fantasy;
    }
    
    .img-grilla:nth-child(2) img {
        width: 80%;
    }
    
    
    .img-grilla:nth-child(3) {
        background-image: none;
        grid-column: 2;
        grid-row: 3;
    }
    
    .img-grilla:nth-child(4) {
        grid-column: 2;
        grid-row: 4;
    }

    .img-grilla:nth-child(3) img {
        display: block;
    }
    
    
    
    .img-grilla:nth-child(4) {
       display: block;
    }

    .texto-edw h2 {
        display: block;
    }
    
    .img-grilla:nth-child(2) img {
        display: block;
    }
}

@media (min-width: 1280px) {
    .bg-grilla-toons {
        height: 180vh;
    }

    .texto-grilla {
        width: 50%;
        top: 2rem;
    }
    
    .grilla-website {
        width: 50%;
    }

    .img-grilla:nth-child(2) {
        padding: 1rem 3rem 1rem 1rem;
    }
}

@media (min-width: 1440px) {
    .bg-grilla-toons {
        height: 150vh;
    }
}


/*secction selfie*/
.bg-selfie {
    position: relative;
    height: auto;
    background-image: url(../img/bg-work-us.png);
    background-repeat: no-repeat;
    background-size: contain;
    top: -9rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.selfie {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 15rem;
}

.selfie.contenedor {
    width: 95%;
}

.texto-selfie h2 {
    text-transform: uppercase;
}

.texto-selfie p {
    margin-bottom: 5rem;
}

.img-selfie {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.imagen-selfie {
    flex: 0 0 calc(33.3% - 5rem);
    margin-bottom: 5rem;
}

/*carrusel*/


/*perfil*/



.perfil-selfie {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
}

.perfil-selfie.contenedor {
    width: 95%;
}

.img-perfil {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imagen-perfil {
    margin-bottom: 5rem;
}

.imagen-perfil:nth-child(2) {
    display: none;
}

.imagen-perfil:nth-child(3) {
    display: none;
}

.imagen-perfil:nth-child(6) {
    display: none;
}




@media (min-width: 1024px) {
    .bg-selfie {
        position: relative;
        height: auto;
        background-image: url(../img/bg-work-us.png);
        background-repeat: no-repeat;
        top: -9rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    
    .selfie {
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 30rem;
    }
    
    .selfie.contenedor {
        width: 70%;
    }
    
    .texto-selfie h2 {
        text-transform: uppercase;
    }
    
    .texto-selfie p {
        margin-bottom: 5rem;
    }
    
    .img-selfie {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    
    .imagen-selfie {
        flex: 0 0 calc(40% - 5rem);
        margin-bottom: 5rem;
    }
    
    /*pefil*/

    .perfil-selfie {
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 5rem;
    }
    
    .perfil-selfie.contenedor {
        width: 70%;
    }

    .img-perfil {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    
    .imagen-perfil {
        flex: 0 0 calc(40% - 5rem);
        margin-bottom: 5rem;
    }

    .imagen-perfil:nth-child(2) {
        display: block;
    }
    
    .imagen-perfil:nth-child(3) {
        display: block;
    }
    
    .imagen-perfil:nth-child(6) {
        display: block;
    }
    
}

@media (min-width: 1280px) {

    .imagen-selfie {
        flex: 0 0 calc(33.3% - 5rem);
        margin-bottom: 5rem;
    }

    .imagen-perfil {
        flex: 0 0 calc(33.3% - 5rem);
        margin-bottom: 5rem;
    }
}


/* STICKERS */
.sticker {
    position: relative;
    height: auto;
    background-image: url(../img/bg-stickers.png);
    background-repeat: no-repeat;
    background-size: cover;
    top: -9rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sticker-row1 {
    padding: 12rem 5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 10rem;
    width: 100%;
}

.row1-img {
    width: 50%;
}

.juice-box {
    width: 20%;
    position: absolute;
    z-index: 1;
    left: 14%;
    top: 4%;
}

.one-sticker {
    width: 7%;
    position: absolute;
    z-index: 2;
    left: 13%;
    top: 4%;
}

.pointed-line {
    width: 28%;
    height: 14%;
    position: absolute;
    z-index: 3;
    left: 35%;
    top: 6%;
}

.row1-head {
    width: 50%;
    display: flex;
    flex-direction: column;
    text-align: right;
    padding-right: 9rem;
}

.row1-head h1 {
    font-size: 4rem;
    margin: 0;
}

.sticker-row2 {
    padding: 5rem 5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 17rem;
}

.row2-head {
    display: flex;
    text-align: left;
    width: 50%;
    padding-left: 5rem;
}

.phone-2 {
    width: 20%;
    position: absolute;
    z-index: 1;
    right: 13%;
    top: 17%;
}

.two-sticker {
    width: 7%;
    position: absolute;
    z-index: 3;
    right: 31%;
    top: 19%;
}

.pointed-line2 {
    width: 28%;
    height: 9%;
    position: absolute;
    z-index: 3;
    right: 35%;
    top: 26%;
}

.phone-genial {
    width: 20%;
    position: absolute;
    z-index: 1;
    left: 14%;
    top: 28%;
}

.three-sticker {
    width: 7%;
    position: absolute;
    z-index: 4;
    left: 33%;
    top: 34%;
}

.sticker-pg {
    width: 14%;
    z-index: 8;
    position: absolute;
    top: 39%;
    left: 24%;
}

.genial-p {
    margin-top: 10rem;
}

.game-rewards {
    padding: 5rem 5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    
}

.game-rewards-text {
    width: 50%;
    display: flex;
    flex-direction: column;
    text-align: left;
    padding-left: 8rem;
}

.game-rewards-text h2{
     margin: 0;
     text-transform: uppercase;
     font-size: 4rem;
}

.game-rewards-text h3{
    margin: 0;
    padding-top: 1rem;
}

.ga-img {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    margin-right: 11rem;
}

.logros{
    width: 50%;
}

.accesorios-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 13rem;
}

.accesorios-container h2{
    text-transform: uppercase;
    font-size: 4rem;
}

.box-text {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.box-text img {
    width: 50%;
}

.right {
    text-align: right;
}

.filter-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10rem 6rem;
}

.filter-container h2 {
    text-transform: uppercase;
    font-size: 4rem;
    padding-left: 7rem;
}

.filter-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 7rem;
}

.filter-sticker {
    width: 14% !important;
    position: absolute;
    bottom: 6%;
    left: 22%;
}

.filter-box img {
    width: 20%;
}

.filter-text {
    text-align: right;
    width: 50%;
    padding-right: 7rem;
}
/*acuosos*/

.bg-acuosos {
    background-image: url(../img/bg-acuosos.png);
    background-repeat: no-repeat;
    height: 130vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    top: -19rem;
}

.games {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: 0;
}

.games.contenedor {
    width: 95%;
}

.img-acuosos {
    display: flex;
    margin-bottom: 5rem;
}

.img-mobile {
    z-index: 2;
}

.img-desktop {
    position: relative;
    width: 60rem;
    z-index: 1;
    right: 1rem;
    top: 4rem;
}


.titulo-acuosos{
    margin-bottom: 5rem;
}

.titulo-acuosos h2 {
    display: none;
}

.titulo-acuosos h2,
h3 {
    font-weight: 700;
    text-transform: uppercase;
}

.titulo-acuosos h3{
    width: 25rem;
}

.texto-acuosos p{
    font-size: 2.1rem;
    font-family: unset;
}

.banana2 {
    position: absolute;
    width: 25%;
    right: 0rem;
    top: 10rem;
}

.banana1 {
    width: 25%;
    position: absolute;
    bottom: -7rem;
    
}

@media (min-width: 375px) {
    .bg-acuosos {
        height: 115vh;
    }
}

@media (min-width: 768px) {
    .bg-acuosos {
        height: 135vh;
    }
    .banana2 {
        top: 0;
    }

    .banana1 {
        bottom: -15rem;
    }

    .img-desktop {
        top: 8rem;
    }
}

@media (min-width: 1024px) {
    .bg-acuosos {
        height: 100vh;
    }
    .games {
        position: relative;
        display: flex;
        flex-direction: column;
        margin-top: 10rem;
    }
    
    .games.contenedor {
        width: 70%;
    }

    .titulo-acuosos h2 {
        display: block;
    }
    
    .img-acuosos {
        display: flex;
        margin-bottom: 5rem;
    }
    
    .img-mobile {
        position: relative;
        top: 5rem;
        left: 4rem;
    }
    
    .banana2 {
        position: absolute;
        width: 15%;
        right: -14rem;
        top: 15rem;
    }
    
    .banana1 {
        width: 20%;
        position: absolute;
        bottom: 10rem;
        left: -15rem;
    }
    
}


@media (min-width: 1280px) {

    .bg-acuosos {
        height: 200vh;
    }
    
    .games.contenedor {
        width: 50%;
    }
    
    .img-acuosos {
        display: flex;
        margin-bottom: 5rem;
    }
    
    .img-mobile {
        position: relative;
        top: 5rem;
        left: 4rem;
    }
    
   
    .banana2 {
        width: 25%;
        right: -25rem;
        top: 10rem;
    }
    
    .banana1 {
        width: 40%;
        bottom: 10rem;
        left: -32rem;
    }
}

/*ninja secction */

.bg-ninja {
    height: 100vh;
    position: relative;
    top: -4rem;
    background-image: url(../img/bg-horaninja.png);
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.secction-ninja {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 10rem;
}

.secction-ninja.contenedor {
    width: 95%;
}

.titulo-ninja h2 {
    text-transform: uppercase;
}

.texto-ninja p{
    font-size: 1.8rem;
    font-weight: unset;
}

.imagenes-ninja {
    position: relative;
    display: flex;
    margin-bottom: 15rem;
}

.img-ninja:nth-child(1) {
    width: auto;
}

.img-ninja:nth-child(2) {
    position: absolute;
    width: 20rem;
    right: -1rem;
    top: 15rem;
}

@media (min-width: 360px) {
    .bg-ninja {
        top: -3rem;
    }
}

@media (min-width: 1280px) {
    .bg-ninja {
        height: 150vh;
        top: -27rem;; 
        background-size: cover;  
    }
    
    .secction-ninja {
        margin-top: 10rem;
    }
    
    .secction-ninja.contenedor {
        width: 50%;
    }
    
    .texto-ninja p{
        font-size: 1.8rem;
        font-weight: unset;
    }

    .titulo-acuosos h3 {
        width: auto;
    }
    
    .img-ninja:nth-child(1) {
        width: 50rem;
    }
    
    .img-ninja:nth-child(2) {
        position: absolute;
        width: 30rem;
        right: 0;
        top: 15rem;
    }
}