html {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-size:  62.5%; /** 1rem = 10px */
    margin: 0;
}

*, *::before, *:after {
    box-sizing: inherit;
}

header {
    background-color: #fff100;
    padding: 4rem 1rem 2rem 1rem;
}

/*globales*/

img {
    width: 100%;
}

.contenedor {
    max-width: 1200px;
    width: 80%;
    margin: 0 auto;
}

.text-center {
    text-align: center;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2.8rem;
}

h3 {
    font-size: 2.6rem;
}

p {
    font-size: 2.4rem;
}

.nav-bar {
    
    /* position: absolute;
    left: -2px;
    top: -1px; */
    width: 100%;
    height: 140px;
    z-index: 131;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

}


.nav-bar ul {
    display: flex;
    list-style: none;
    padding: 0 0 1rem 0;
    margin: 0 auto;
}

.nav-bar ul li {
    margin-right: 1rem;
}
.nav-bar ul li:last-of-type {
    margin-right: 0;
}


.nav-bar a,
i {
    font-size: 2rem;
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.nav-bar i {
    color: #4a4e53;
}

.nav-list {
    display: flex;
    visibility: hidden;
}

.nav-list_active{
    visibility: visible;
}
.close{
    display: none;
}
.img-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img{
    width: 100%;
}

.logo {
    flex: 0 0 calc(80% - 1rem);
}

.bars {
    flex: 0 0 calc(15% - 1rem);
}

.bars i {
    font-size: 4rem;
}
@media (min-width: 768px) {

    .nav-bar {
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        margin: 0 auto;
    }

    .nav-bar i {
        font-size: 2.5rem;
    }

    .nav-bar ul {
        flex-direction: row;
        list-style: none;
        text-align: center;
        align-items: center;
        margin: 0;
        padding: 0;
    }
    .nav-list{
        visibility: visible;
    }
    
    .nav-bar ul li {
        margin-right: 3rem;
    }
    
    .nav-bar ul li:last-of-type {
        margin-right: 0;
    }

    .bars {
        display: none;
    }

    .home {
        display: none;
    }
}

/* grilla */


.fondo {
    position: absolute;
    height: 235vh;
}

.grilla {
    width: 90%;
    margin: 0 auto;
    position: relative;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-gap: .5rem;
    height: 220vh;
}
 
.mono {
    width: 60%;
    position: absolute;
    top: 62%;
    right: 3%;
}

.rectangulo {
    width: 55%;
    position: absolute;
    top: 87%;
    left: 6%;
    z-index: 100;
    
}


.imagen-grilla-3,
.imagen-grilla-4,
.imagen-grilla-5,
.imagen-grilla-7 {
    display: none;
}

.imagen-grilla-9,
.imagen-grilla-10,
.imagen-grilla-11 {
    display: none;
}

.imagen-grilla-13,
.imagen-grilla-15,
.imagen-grilla-16,
.imagen-grilla-17 {
    display: none;
}

.imagen-grilla-6 {
    background-image: url(../img/miniature.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    grid-row: 2;
}


.imagen-grilla-8 {
    background-image: url(../img/happyhedgehog.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    grid-row: 3;
    
}

.imagen-grilla-12 {
    background-image: url(../img/card1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    grid-row: 4;
   
}

.imagen-grilla-14 {
    background-image: url(../img/512x512.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    grid-row: 5;
    height: 100%;
}

@media (min-width: 900px) {
    
    .grillas {
        margin-top: 11rem ;
    }
    
    .fondo {
        position: absolute;
        height: 240vh;
    }

.grilla {
    width: 98%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-gap: .8rem;
    height: 220vh;
}

.mono {
    position: absolute;
    right: 36rem;
    top: 88rem;
    width: 24%;
    z-index: 2
}

.rectangulo {
    width: 112%;
    position: relative;
    left: 0;
    top: 9%;
    grid-column-start: 2;
    grid-row-start: 1;
    z-index: 1
}

 .imagen-grilla-3 {
    background-image: url(../img/osos2.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    grid-column-start: 4;
    grid-row-start: 2;
    display: block;
    position: relative;
    top: -32%;
}

.imagen-grilla-4 {
    display: block;
    background-image: url(../img/miniature.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    grid-column: 3;
    grid-row: 3 / 1;
    height: 65%;
    align-self: end;
}

.imagen-grilla-5 {
    display: block;
    background-image: url(../img/osos.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    grid-column: 2;
    grid-row: 2;
}

.imagen-grilla-6 {
    background-image: url(../img/miniature.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    grid-column: 1;
    grid-row: 2;
}

.imagen-grilla-7 {
    display: block;
    background-image: url(../img/paleta-payaso.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    grid-column: 4;
    grid-row: 4 / 2;
    height: 65%;
    align-self: end;
}


.imagen-grilla-8 {
    background-image: url(../img/happyhedgehog.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    grid-column: 3;
    grid-row: 3;
}

.imagen-grilla-9 {
    display: block;
    background-image: url(../img/juegos.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    grid-column: 2;
    grid-row: 3;
}

.imagen-grilla-10 {
    display: block;
    background-image: url(../img/nutri.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    grid-column: 1;
    grid-row: 3;
}

.imagen-grilla-11 {
    display: block;
    background-image: url(../img/bob-min.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    grid-column: 4;
    grid-row: 6 / 4;
}

.imagen-grilla-12 {
    background-image: url(../img/card1.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    grid-column: 2 / 4;
    grid-row: 6 / 4;
}

.imagen-grilla-13 {
    display: block;
    background-image: url(../img/Little-Animals_01-SPLASH.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    grid-column: 1;
    grid-row: 4;
}

.imagen-grilla-14 {
    background-image: url(../img/512x512.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    grid-column: 4;
    grid-row: 6 / 7;
}

.imagen-grilla-15 {
    display: block;
    background-image: url(../img/telHeroe-min.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    grid-column: 3;
    grid-row: 6 / 7;
}

.imagen-grilla-16 {
    display: block;
    background-image: url(../img/imagextPirat-copia-4.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    grid-column: 2;
    grid-row: 6 / 7;
}

.imagen-grilla-17 {
    display: block;
    background-image: url(../img/miniatura14.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    grid-row-start: 7;
    grid-row-end: 5;
}
}

/* CAROUSEL STYLE */
  
  .gallery {
    background: #EEE;
  }
  
  .gallery-cell {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    counter-increment: gallery-cell;
  }
  
  .gallery-cell img {
    display: block;
    max-width: 100%;
    max-height: 100%;
  }
  
  /* big buttons, no circle */
  .flickity-prev-next-button {
    width: 100px;
    height: 100px;
    background: transparent !important;
  }
  /* arrow color */
  .flickity-prev-next-button .arrow {
    fill: white !important;
  }
  .flickity-prev-next-button.no-svg {
    color: white !important;
  }
  .flickity-prev-next-button:hover {
    background: transparent;
  }
  /* hide disabled button */
  .flickity-prev-next-button:disabled {
    display: none;
  }
  
  /* position dots in gallery */
  .flickity-page-dots {
    bottom: 50px !important;
  }
  /* white circles */
  .flickity-page-dots .dot {
    width: 12px;
    height: 12px;
    opacity: 1 !important;
    background: transparent !important;
    border: 2px solid white;
  }
  /* fill-in selected dot */
  .flickity-page-dots .dot.is-selected {
    background: white !important;
  }
  
  /* third section */

  .third-section {
      background-color: transparent;
      display: flex;
      
  }

  .yellow-container {
      background-image: url(../img/yellow-bg.png);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: unset;
      width: 100%;
      display: flex;
    flex-direction: row;
    height: 100vh;
   
  }

 /* third section */

  .third-section {
      background-color: #fff;
      display: flex;
      flex-direction: column;
  }

  .yellow-container {
      background-image: url(../img/yellow-bg.png);
      background-repeat: no-repeat;
      background-size: 111% 110%;
      width: 100%;
      display: flex;
      flex-direction: column;
      height: auto;
      overflow: hidden;
  }

  .first-row {
      display: flex;
      flex-direction: row;
      justify-content: center;
      padding-top: 15%;
      padding-left: 16%;
  }

  .first-row .text {
      display: flex;
      flex-direction: column;
      padding: 10rem 0rem 10rem 0rem;
      width: 45%;
      max-width: 40%;

  }

  .text h3 {
      font-size: 3.5rem;
      font-weight: 600;
      margin: 0;
  }

  .text h5 {
    font-size: 1.6rem;
    font-weight: 100;
    margin: 0;
    padding: 1.5rem 0;
  }

  .text p {
    font-size: 1.3rem;
    width: 70%;
  }

  .first-row .img {
      width: 55%;
      display: flex;
      justify-content: flex-start;
  }

  .first-row img {
    width: 400px;
    height: 400px;
    position: relative;
    left: -4rem;
    bottom: -2.5rem;
  }

  .second-row {
      display: flex;
      justify-content: center;
      flex-direction: row;
      padding: 8% 16%;
  }

  .second-row .icon-card {
      display: flex;
      flex-direction: column;
      width: 20%;
      padding-right: 4rem;
  }

  .icon-card .circle {
      height: 100px;
      width: 100px;
      background-color: #353945;
      border-radius: 50%;
  }

  .circle img {
      width: 60%;
      position: relative;
      top: 20%;
      left: 20%;
  }

  .icon-card .icon-text {
    
    margin-top: 2rem;
    max-width: 80%;
  }

  .icon-card .icon-text p {
    font-size: 1.3rem;
  }

  @media (max-width: 900px) {
    
    .first-row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 15%;
    padding-left: 12%;
    text-align: center;
    }

    .first-row .text {
        display: flex;
        flex-direction: column;
        padding: 10rem 0rem 10rem 8rem;
        width: 85%;
        max-width: 84%;
        justify-content: center;
        align-items: flex-start;
        text-align: left;
    }

    .text h3 {
        font-size: 6.5rem;
        font-weight: 600;
        margin: 0;
    }    

    .text h5 {
        font-size: 3.6rem;
    }

    .text p {
        font-size: 2.3rem;
        width: 100%;
    }

    .first-row .img {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .first-row img {
        width: 500px;
        height: 500px;
    }

    .second-row {
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding: 8% 16%;
    }

    .second-row .icon-card {
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
        padding: 0;
    }

    .icon-card .circle {
    height: 200px;
    width: 200px;
    }

    .icon-card .icon-text p {
        font-size: 2.3rem;
        text-align: center;
    }

  }

  @media (max-width: 420px) {

    .first-row .text {
        padding: 10rem 0rem 0rem 4rem;
    }

    .text h3 {
        font-size: 3.5rem;
    }

    .text h5 {
        font-size: 3rem;
    }

    .first-row .img {
        margin-bottom: 8rem;
    }

    .first-row img {
        width: 300px;
        height: 300px;
    }

  }

/*WORK US*/
/* .bg-work {
    position: relative;
    bottom: 4rem;
    z-index: 1;
    height: 10vh;
    
}
.bg-work img {
  height: 100vh;
} */

.work-us-bg {
    background-image: url(../img/bg-work-us.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 100;
    top: -6rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;

}

@media (min-width: 900px) {
    .work-us-bg {
        top: -9rem;
    }
}

.work-us {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10rem;
}

.work-us p {
    margin-bottom: 0;
}

  .btn-more {
      display: inline-block;
      font-size: 2.2rem;
      text-decoration: none;
      color: #383b46;
      background-color: #f5df3b;
      padding: 1rem 2.5rem;
      margin: 2rem 0;
      border-radius: 1.8rem;
  }
 

  @media (min-width: 900px) {
    .work-us.contenedor {
        width: 30%;
    }
  }



  /* FIFTH SECTION */

  .fifth-section .container {
      position: relative;
      z-index: 4;
    background-image: url(../img/bg-yellow.png);
    background-repeat: no-repeat;
    display: flex;
    background-size: cover;
    flex-direction: column;
    width: 100%;
    height: 150vh;
    align-items: center;
    justify-content: center;
  }

  .lamp-icon {
      padding: 5rem;
      display: flex;
      justify-content: center;
  }

  .lamp-icon img {
      width: 50%;
  }
  
  .fifth-headline {
      text-align: center;
  }
  .fifth-headline h2 {
      font-size: 5rem;
  }

  .fifth-headline h2 span {
      font-size: 4rem;

  }

  /* creative */

  .creative {
    position: relative;
    background-image: url(../img/creative-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    top: -10rem;
    z-index: 4;
    height: 150vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .row-creative {
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
    }

    .puzzle-b-p {
        position: relative;
        top: 7rem;
        right: 15rem;
        height: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .puzzle-b-p img {
        margin-bottom: 45.5rem;
    }

    .puzzle-b-p img:last-of-type {
        margin-bottom: 0;
    }

    .puzzle-b-p .pink {
        width: 12rem;
    }

    .puzzle-b-p .blue {
        width: 15rem;
    }

    .puzzle-y {
        display: flex;
        flex-direction: column;
        justify-content: end;
        align-items: unset;
        position: relative;
        width: 0;
        height: auto;
        left: 0rem;
    }

    @media (min-width: 400px) {
        .puzzle-y {
            width: 0;
            height: 0;
            left: 3rem;
            bottom: 15rem;
        }
    }

    .puzzle-y img {
        width: 18rem;
    }


  .texto-creative {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: center;
  }

  .texto-creative h2 {
    background-color: #ffffff;
    z-index: 100;
    font-size: 6rem;
    margin: 2rem 0;
    color: #fda21f;
    text-transform: uppercase;
}

.texto-creative p {
    background-color: #ffffff;
    line-height: 1.5;
    padding: 0;
    margin: 0;
    z-index: 100;
}

  @media (min-width: 900px) {
    .creative {
        background-size: cover;
        background-position: unset;
        height: 100vh;
      }

    .row-creative {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
      }
  
      .puzzle-b-p {
        position: relative;
        top: 22.2rem;
        right: 30.5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        flex: 0 0 calc(30% - 1rem);
        z-index: 1;
      }
  
      .puzzle-b-p img {
          margin-bottom: 22.5rem;
      }
  
      .puzzle-b-p img:last-of-type {
          margin-bottom: 0;
      }
  
      .puzzle-b-p .pink {
          width: 12rem;
      }
  
      .puzzle-b-p .blue {
          width: 20rem;
      }
  
      .puzzle-y {
        max-width: 1200px;
        width: 100%;
        left: -8rem;
        bottom: 25.8rem;
        justify-content: center;
        margin: 0;
        display: flex;
        /* flex-direction: column; */
        justify-content: center;
        align-items: flex-end;
        /* padding: 6rem 0 0 0; */
        flex: 0 0 calc(30% - 1rem);
        z-index: 1;
      }
  
  
    .texto-creative {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
      flex: 0 0 calc(40% - 1rem);
    }
  }

  @media (min-width: 1000px) {
    .puzzle-y {
        left: -8rem;
        bottom: 25.2rem;
        justify-content: center;
        margin: 0;
    }

    .puzzle-b-p {
        position: relative;
        top: 22.5rem;
        right: 35.7rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-right: 5rem;
        flex: 0 0 calc(30% - 1rem);
        z-index: 1;
    }
  }
  
  @media (min-width: 1200px) {
    .puzzle-y {
        left: -8rem;
        bottom: 24.2rem;
        justify-content: center;
        margin: 0;
    }

    .puzzle-b-p {
        position: relative;
        top: 22rem;
        right: 35.7rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-right: 5rem;
        flex: 0 0 calc(30% - 1rem);
        z-index: 1;
    }
  }

 

 

  /* creative-person  */

  .creative-person {
    background-image: url(../img/bg-frase-2.png);
    background-size: 100%;
    background-repeat: no-repeat;
    height: 140vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .person {
      color: white;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }

  /* FORM SECTION */

  .form-section {
      background-image: url(../img/contact-bg.png);
      background-repeat: no-repeat;
      display: flex;
      flex-direction: column;
      background-size: cover;
      width: 100%;
      height: auto;
      align-items: center;
      justify-content: center;
      z-index: 3;
      position: relative;
      top: -8rem;
  }
  
  .form-section h2 {
    padding-top: 15rem;
    text-transform: uppercase;
    font-size: 5rem;
    color: #353945;
  }

  .form-container {
    display: flex;
    flex-direction: row;
    z-index: 3;
  }

  .lines {
    z-index: -1;
    height: 90%;
    position: absolute;
    width: 93%;
    right: 0;
    bottom: -15%;
  }

  .form-container .info {
      background-color: #eeeeee;
      text-align: center;
      display: flex;
      flex-direction: column;
      width: 40%;
      border-radius: 26px;
      padding: 2rem;
      margin: 2rem;
      height: 50%;
  }

  .form-container .info h3 {
    margin: 0;
    text-transform: uppercase;
    color: #353945;
}

.form-container .info p {
    font-size: 1.5rem;
}

.form-container .info-socialicons {
 display: flex;
 flex-direction: row;
 justify-content: center;
}

.icon-border:first-of-type {
    margin-right: 2rem;
}

.icon-border {
    border: 1px solid black;
    border-radius: 7px;
    width: 25px;
    margin: 2px;
    padding: 2px;
}

form {
  width: 60%;  
  position: relative;
  top: -40px;
  padding-left: 3rem;
}

form fieldset {
    border: none;
    border-radius: 18px;
    background-color: #eeeeee;
    height: 35px;
    margin-top: 3rem;
}

fieldset input {
    border: none;
    background-color: transparent;
    padding: 9px;
    font-size: 1.3rem;
    width: 100%;
}

fieldset input:focus{
    outline-style: none;
}

.textarea {
    height: 40%;
}

textarea {
    height: 100%;
    width: 100%;
    background-color: transparent;
    border: none;
    font-size: 1.3rem;
    padding: 5px;
}

textarea:focus{
    outline-style: none;
}

.button {
    background-color: transparent;
    text-align: end;
}

button {
    width: 60%;
    background-color: #353945;
    color: #dacf32;
    height: 35px;
    border: none;
    border-radius: 18px;
    font-size: 2.5rem;
    cursor: pointer;
}

@media (max-width: 1024px){

    
    .form-section {
        top: -57rem;
    }

    .form-section h2 {
        padding-top: 0;
    }

    .form-container {
        flex-direction: column;
        align-items: center;
        width: 60%;
    }

    .form-container .info {
        order: 2;
        width: 100%;
    }

    form {
        width: 100%;
        padding-left: 0;
    }

    .button {
        text-align: left;
    }
}

@media (min-width: 2450px) {
    .form-section {
        top: -16rem;
    }

    .lines {
        height: 95%;
        width: 82%;
        bottom: -20%;
    }
}

