/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

@font-face {
    font-family: brocha;
    src: url(../fonts/BROCHA/brocha-bold.otf);
}

@font-face {
    font-family: brocha;
    src: url(../fonts/BROCHA/brocha-light.otf);
    font-weight: lighter;
}

@font-face {
    font-family: brocha;
    src: url(../fonts/BROCHA/brocha-regular.otf);
}

html {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-size:  62.5%; /** 1rem = 10px */
    margin: 0;
    scroll-behavior: smooth;
    -webkit-text-size-adjust: auto;
}

*, *::before, *:after {
    box-sizing: inherit;
    -webkit-box-sizing: inherit;     
}



/*global*/

img {
    width: 100%;
    height: auto;
}

@media (min-width: 1024px) {
    img {
        width: 100%;
        height: auto;
    } 
}

.contenedor {
    max-width: 1200px;
    width: 80%;
    margin: 0 auto;
}

.text-center {
    text-align: center;
}

h1 {
    font-size: 3rem;
    font-family: brocha;
}

h2 {
    font-size: 2.8rem;
    font-family: brocha;
}

h3 {
    font-size: 2.6rem;
    font-family: brocha;
}

p {
    font-size: 2.4rem;
    font-family: lighter;
}

.d-none {
    display: none;
}
/* end global */

/*animaciones*/
.animate__animated .animate__bounce {
animation-duration: 2s;
}

/*end animaciones*/


header {
    background-color: #fff100;
    padding: 3rem 1rem;
}

.nav-bar {
    
    /* position: absolute;
    left: -2px;
    top: -1px; */
    width: 100%;
    height: 140px;
    z-index: 131;
    display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
    flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
    justify-content: space-evenly;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
    align-items: center;
    -webkit-box-align: center;
        -ms-flex-align: center;

}


.nav-bar ul {
    display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
    list-style: none;
    padding: 0 0 1rem 0;
    margin: 0 auto;
}

.nav-bar ul li {
    margin-right: 1rem;
}
.nav-bar ul li:last-of-type {
    margin-right: 0;
}


.nav-bar a,
i {
    font-size: 2rem;
    color: #4b4e54;
    text-decoration: none;
    cursor: pointer;
    font-family: brocha;
    font-weight: bold;
}

.nav-bar i {
    color: #4a4e53;
}

.active {
    background-color: #4a4e53;
    color: #fff100 !important;
    padding: .5rem 1rem;
    border-radius: 1rem;
}

.nav-list {
    display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
    visibility: hidden;
}

.nav-list_active{
    visibility: visible;
}
.close{
    display: none;
}
.img-nav {
    display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
    justify-content: space-between;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
    align-items: center;
    -webkit-box-align: center;
        -ms-flex-align: center; 
        margin-top: 10px;   
}

.logo {
    margin: 0 50px 0 0;
}

.logo img{
    width: 255px;
    height: 120px;
    margin-right: 0px;
}

/* .logo {
    flex: 0 0 calc(80% - 1rem);
    -webkit-box-flex: 0;
        -ms-flex: 0 0 calc(80% - 1rem);  
} */

.bars {
    flex: 0 0 calc(15% - 1rem);
    -webkit-box-flex: 0;
        -ms-flex: 0 0 calc(15% - 1rem);  
}

.bars i {
    font-size: 4rem;
}
@media (min-width: 768px) {

    .nav-bar {
        display: flex;
        flex-direction: row;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row; 
        justify-content: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center; 
        align-items: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                
        margin: 0 auto;
    }

    .nav-bar i {
        font-size: 2.5rem;
    }

    .nav-bar ul {
        flex-direction: row;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row; 
        list-style: none;
        text-align: center;
        align-items: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
        margin: 0 0 0 30px;
        padding: 0;
    }
    .nav-list{
        visibility: visible;
    }
    
    .nav-bar ul li {
        margin-right: 3rem;
    }
    
    .nav-bar ul li:last-of-type {
        margin-right: 0;
    }

    .bars {
        display: none;
    }

    .img-nav {
        margin: 0;
    }

    .logo {
        width: 340px;
        margin: 0;
    }

    .logo img{
        width: 100%;
        height: 170px;
    }
}

/* grilla */


.fondo {
    position: absolute;
    height: 180vh;
}

.grilla {
    width: 90%;
    margin: 0 auto;
    position: relative;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
    grid-template-columns: repeat(1, 1fr);
    -ms-grid-rows: 1fr .5rem 1fr .5rem 1fr .5rem 1fr .5rem 1fr;
    grid-template-rows: repeat(5, 1fr);
    grid-gap: .5rem;
    height: 170vh;
    margin-top: 10rem;
}

.grilla > *:nth-child(1) {
    grid-row:1;
    grid-column:1;
    -ms-grid-row: 1;
    -ms-grid-column: 2;
}

.grilla > *:nth-child(2) {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
}

.grilla > *:nth-child(3) {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
}

.grilla > *:nth-child(4) {
    -ms-grid-row: 7;
    -ms-grid-column: 1;
}

.grilla > *:nth-child(5) {
    -ms-grid-row: 9;
    -ms-grid-column: 1;
}
 
.mono {
    width: 26rem;
    position: relative;
    top: -1rem;
    left: 9rem;
}

.mono.mono-1 {
    display: none;
}

.mono.mono-2 {
    display: block;
}

.rectangulo {
    width: 32rem;
    height: 21rem;
    position: absolute;
    top: 0rem;
    z-index: 99;
}

.rectangulo.r-desk {
    display: none;
}

.rectangulo.r-mobile {
    display: block;
}

@media (min-width: 400px) {
    .mono {
        width: 26rem;
        position: relative;
        top: -1rem;
        left: 14rem;
    }

    .rectangulo {
        width: 32rem;
        height: 22rem;
        position: absolute;
        top: 2rem;
        z-index: 99;
    }
    
}


.imagen-grilla-3,
.imagen-grilla-4,
.imagen-grilla-5,
.imagen-grilla-7 {
    display: none;
}

.imagen-grilla-9,
.imagen-grilla-10,
.imagen-grilla-11 {
    display: none;
}

.imagen-grilla-13,
.imagen-grilla-15,
.imagen-grilla-16,
.imagen-grilla-17 {
    display: none;
}

.imagen-grilla-6 {
    background-image: url(../img/miniature.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    -ms-grid-row: 2;
    grid-row: 2;
}


.imagen-grilla-8 {
    background-image: url(../img/happyhedgehog.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    -ms-grid-row: 3;
    grid-row: 3;
    
}

.imagen-grilla-12 {
    background-image: url(../img/card1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    -ms-grid-row: 4;
    grid-row: 4;
   
}

.imagen-grilla-14 {
    background-image: url(../img/512x512.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    -ms-grid-row: 5;
    grid-row: 5;
    height: 100%;
}

.our-game {
    z-index: 100;
    font-size: 6.8rem;
    position: absolute;
    top: 2rem;
    padding: 0 4rem;
    color: white;
}

@media (min-width: 360px) {
    .rectangulo {
        width: 23rem;
    height: 20.2rem;
    position: absolute;
    left: 0;
    top: 0.5rem;
    z-index: 100;
    }

    .mono {
        position: absolute;
    left: 8rem;
    top: -13rem;
    width: 25rem;
    z-index: 2;
    }

    .our-game {
        z-index: 100;
        font-size: 5.8rem;
        position: absolute;
        top: 0rem;
        padding: 0 2rem;
        color: white;
    }
}

@media (min-width: 375px) {
    .rectangulo {
        width: 24rem;
        height: 22.2rem;
        position: absolute;
        left: 0;
        top: 4.5rem;
        z-index: 100;
    }

    .mono {
        position: absolute;
    left: 6rem;
    top: -13rem;
    width: 29rem;
    z-index: 2;
    }

    .our-game {
           width: 25rem;
    height: 22.2rem;
    position: absolute;
    left: 0;
    top: 5.5rem;
    z-index: 100;
    }
}

@media (min-width: 768px) {
    .grilla {
        height: 200vh;
    }
    .fondo {
        height: 215vh;
    }

    .rectangulo {
        width: 48rem;
    height: 34.2rem;
    position: absolute;
    left: 0;
    top: 5.5rem;
    z-index: 100;
    }

    .mono {
        position: absolute;
        left: 28rem;
        top: -15rem;
        width: 38rem;
        z-index: 2;
    }

    .our-game {
        font-size: 10rem;
        width: 25rem;
        height: 22.2rem;
        position: absolute;
        left: 1rem;
        top: 5rem;
        z-index: 100;
    }
}

@media (min-width: 900px) {
    
    
    .fondo {
        position: absolute;
        height: 240vh;
    }

.grilla {
    width: 98%;
    margin: 0 auto;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr .8rem 1fr .8rem 1fr .8rem 1fr;
    grid-template-columns: repeat(4, 1fr);
    -ms-grid-rows: 1fr .8rem 1fr .8rem 1fr .8rem 1fr .8rem 1fr .8rem 1fr;
    grid-template-rows: repeat(6, 1fr);
    grid-gap: .8rem;
    height: 220vh;
}

.grilla > *:nth-child(1) {
    grid-row: 1;
    grid-column: 2;
        -ms-grid-row: 1;
        -ms-grid-column: 2;
}

.grilla > *:nth-child(2) {
        -ms-grid-row: 1;
        -ms-grid-column: 3;
}

.grilla > *:nth-child(3) {
        -ms-grid-row: 1;
        -ms-grid-column: 5;
}

.grilla > *:nth-child(4) {
        -ms-grid-row: 1;
        -ms-grid-column: 7;
}

.grilla > *:nth-child(5) {
        -ms-grid-row: 3;
        -ms-grid-column: 1;
}

.grilla > *:nth-child(6) {
        -ms-grid-row: 3;
        -ms-grid-column: 3;
}

.grilla > *:nth-child(7) {
        -ms-grid-row: 3;
        -ms-grid-column: 5;
}

.grilla > *:nth-child(8) {
        -ms-grid-row: 3;
        -ms-grid-column: 7;
}

.grilla > *:nth-child(9) {
        -ms-grid-row: 5;
        -ms-grid-column: 1;
}

.grilla > *:nth-child(10) {
        -ms-grid-row: 5;
        -ms-grid-column: 3;
}

.grilla > *:nth-child(11) {
        -ms-grid-row: 5;
        -ms-grid-column: 5;
}

.grilla > *:nth-child(12) {
        -ms-grid-row: 5;
        -ms-grid-column: 7;
}

.grilla > *:nth-child(13) {
        -ms-grid-row: 7;
        -ms-grid-column: 1;
}

.grilla > *:nth-child(14) {
        -ms-grid-row: 7;
        -ms-grid-column: 3;
}

.grilla > *:nth-child(15) {
        -ms-grid-row: 7;
        -ms-grid-column: 5;
}

.grilla > *:nth-child(16) {
        -ms-grid-row: 7;
        -ms-grid-column: 7;
}

.grilla > *:nth-child(17) {
        -ms-grid-row: 9;
        -ms-grid-column: 1;
}

.grilla > *:nth-child(18) {
        -ms-grid-row: 9;
        -ms-grid-column: 3;
}

.grilla > *:nth-child(19) {
        -ms-grid-row: 9;
        -ms-grid-column: 5;
}

.grilla > *:nth-child(20) {
        -ms-grid-row: 9;
        -ms-grid-column: 7;
}

.grilla > *:nth-child(21) {
        -ms-grid-row: 11;
        -ms-grid-column: 1;
}

.grilla > *:nth-child(22) {
        -ms-grid-row: 11;
        -ms-grid-column: 3;
}

.grilla > *:nth-child(23) {
        -ms-grid-row: 11;
        -ms-grid-column: 5;
}

.grilla > *:nth-child(24) {
        -ms-grid-row: 11;
        -ms-grid-column: 7;
}

.mono {
    position: relative;
    left: 60rem;
    top: -2rem;
    width: 24%;
    z-index: 2
}

.rectangulo {
    width: 40rem;
    height: 21.2rem;
    position: relative;
    left: 0;
    top: 0rem;
    z-index: 1
}

.our-game {
    z-index: 1;
    font-size: 6.8rem;
    position: absolute;
    top: -3rem;
    padding: 0 4rem;
    color: white;
}

 .imagen-grilla-3 {
    background-image: url(../img/osos2.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    -ms-grid-column: 4;
        grid-column-start: 4;
    -ms-grid-row: 2;
        grid-row-start: 2;
    display: block;
    position: relative;
    top: -32%;
}

.imagen-grilla-4 {
    display: block;
    background-image: url(../img/miniature.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    -ms-grid-column: 3;
    grid-column: 3;
    -ms-grid-row: 3;
    -ms-grid-row-span: -2;
    grid-row: 3 / 1;
    height: 65%;
    -ms-grid-row-align: end;
        align-self: end;
}

.imagen-grilla-5 {
    display: block;
    background-image: url(../img/osos.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    -ms-grid-column: 2;
    grid-column: 2;
    -ms-grid-row: 2;
    grid-row: 2;
}

.imagen-grilla-6 {
    background-image: url(../img/miniature.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 2;
    grid-row: 2;
}

.imagen-grilla-7 {
    display: block;
    background-image: url(../img/paleta-payaso.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    -ms-grid-column: 4;
    grid-column: 4;
    -ms-grid-row: 4;
    -ms-grid-row-span: -2;
    grid-row: 4 / 2;
    height: 65%;
    -ms-grid-row-align: end;
        align-self: end;
}


.imagen-grilla-8 {
    background-image: url(../img/happyhedgehog.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    -ms-grid-column: 3;
    grid-column: 3;
    -ms-grid-row: 3;
    grid-row: 3;
}

.imagen-grilla-9 {
    display: block;
    background-image: url(../img/juegos.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    -ms-grid-column: 2;
    grid-column: 2;
    -ms-grid-row: 3;
    grid-row: 3;
}

.imagen-grilla-10 {
    display: block;
    background-image: url(../img/nutri.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 3;
    grid-row: 3;
}

.imagen-grilla-11 {
    display: block;
    background-image: url(../img/bob-min.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    -ms-grid-column: 4;
    grid-column: 4;
    -ms-grid-row: 6;
    -ms-grid-row-span: -2;
    grid-row: 6 / 4;
}

.imagen-grilla-12 {
    background-image: url(../img/card1.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-column: 2 / 4;
    -ms-grid-row: 6;
    -ms-grid-row-span: -2;
    grid-row: 6 / 4;
}

.imagen-grilla-13 {
    display: block;
    background-image: url(../img/Little-Animals_01-SPLASH.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 4;
    grid-row: 4;
}

.imagen-grilla-14 {
    background-image: url(../img/512x512.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    -ms-grid-column: 4;
    grid-column: 4;
    -ms-grid-row: 6;
    -ms-grid-row-span: 1;
    grid-row: 6 / 7;
}

.imagen-grilla-15 {
    display: block;
    background-image: url(../img/telHeroe-min.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    -ms-grid-column: 3;
    grid-column: 3;
    -ms-grid-row: 6;
    -ms-grid-row-span: 1;
    grid-row: 6 / 7;
}

.imagen-grilla-16 {
    display: block;
    background-image: url(../img/imagextPirat-copia-4.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    -ms-grid-column: 2;
    grid-column: 2;
    -ms-grid-row: 6;
    -ms-grid-row-span: 1;
    grid-row: 6 / 7;
}

.imagen-grilla-17 {
    display: block;
    background-image: url(../img/miniatura14.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    -ms-grid-row: 7;
        grid-row-start: 7;
    -ms-grid-row-span: -2;
    grid-row-end: 5;
}
}

@media (min-width: 1024px) {
    .fondo {
        
        height: 110vh;
    }

    .grilla {
        margin-top: 15rem;
        height: 100vh;
    }

    .rectangulo {
        width: 28rem;
        height: 19rem;
        position: absolute;
        left: 25rem;
        top: 3rem;
        z-index: 1;
    }

    .rectangulo.r-desk {
        display: block;
    }
    
    .rectangulo.r-mobile {
        display: none;
    }

    .mono {
        position: absolute;
        left: 46rem;
        top: -22rem;
        width: 45rem;
        z-index: 2;
    }

    .mono.mono-1 {
        display: block;
    }

    .mono.mono-2 {
        display: none;
    }

    .our-game {
        z-index: 100;
        font-size: 6rem;
        position: absolute;
        top: 1rem;
        left: 23rem;
        padding: 0 4rem;
        color: white
    }
}


@media (min-width: 1280px) {
    .fondo {
        height: 160vh;
    }

    .grilla {
        margin-top: 18rem;
        height: 140vh;
    }

    .rectangulo {
        width: 34rem;
        height: 22rem;
        position: absolute;
        left: 31rem;
        top: -4rem;
        z-index: 1;
    }

    .our-game {
        z-index: 100;
        top: -8rem;
        left: 30rem;
    }

    .mono {
        left: 57rem;
        top: -24rem;
        width: 42rem;
    }
    
}

@media (min-width: 1336px) {
    .fondo {
        height: 225vh;
    }

    .grilla {
        height: 200vh;
    }

    .rectangulo {
        width: 37rem;
        height: 21rem;
        left: 33rem;
        top: -1rem;
    }

    .our-game {
        font-size: 7.5rem;
        top: -6rem;
        left: 33rem;
    }

    .mono {
        left: 61rem;
        top: -24rem;
        width: 40rem;
    }
}

@media (min-width: 1440px) {
    .fondo {
        height: 220vh;
    }

    .grilla {
        margin-top: 10rem;
        height: 200vh;
    }

    .rectangulo {
        width: 412px;
        height: 20rem;
        left: 374px;
        top: 45px;
    }

    .mono {
        left: 710px;
        top: -150px;
    }

    .our-game {
        font-size: 90px;
        top: -36px;
        left: 400px;
        padding: 0;
    }
}

@media (min-width: 1755px) {


    .mono {
        left: 81rem;
    }

    .rectangulo {
        width: 47rem;
        height: 24rem;
        left: 43rem;
        top: 5rem;
    }

    .our-game {
        font-size: 10rem;
        top: -3.5rem;
        left: 41rem;
        padding: 0 5rem;
    }
}




/* CAROUSEL STYLE */
  
  .gallery {
    background: #EEE;
  }
  
  .hero {
      width: 100%;
      height: auto;
  }

  @media (min-width: 900px) {
    .hero {
        width: 100%;
        height: auto;
    }
  }

  .flickity-viewport {
      height: 700px; 
  }
  .gallery-cell {
    width: 100%;
    height: 700px;
    display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
    -webkit-box-pack: center;
    -ms-flex-pack: center;     
        -ms-flex-pack: center;
    -ms-flex-pack: center;     
    counter-increment: gallery-cell;
  }
  
  @media (max-width: 1024px){
      .flickity-viewport, .gallery-cell{
          height: 550px;
      }
  }

  @media (max-width: 450px){
    .flickity-viewport, .gallery-cell{
        height: 350px;
    }
}

  .gallery-cell img {
    display: block;
    max-width: 100%;
    max-height: 100%;
  }
  
  /* big buttons, no circle */
  .flickity-prev-next-button {
    width: 100px;
    height: 100px;
    background: transparent !important;
  }
  /* arrow color */
  .flickity-prev-next-button .arrow {
    fill: white !important;
  }
  .flickity-prev-next-button.no-svg {
    color: white !important;
  }
  .flickity-prev-next-button:hover {
    background: transparent;
  }
  /* hide disabled button */
  .flickity-prev-next-button:disabled {
    display: none;
  }
  
  /* position dots in gallery */
  .flickity-page-dots {
    bottom: 50px !important;
  }
  /* white circles */
  .flickity-page-dots .dot {
    width: 12px;
    height: 12px;
    opacity: 1 !important;
    background: transparent !important;
    border: 2px solid white;
  }
  /* fill-in selected dot */
  .flickity-page-dots .dot.is-selected {
    background: white !important;
  }
  
  /* third section */

  .third-section {
      background-color: transparent;
      display: flex;
      display: -webkit-box;
      display: -ms-flexbox;
  }

  .yellow-container {
      background-image: url(../img/yellow-bg.png);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: unset;
      width: 100%;
      display: flex;
      display: -webkit-box;
      display: -ms-flexbox;
      flex-direction: row;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;  
    height: 100vh;
   
  }

 /* third section */

  .third-section {
      background-color: #fff;
      display: flex;
      display: -webkit-box;
      display: -ms-flexbox;
      flex-direction: column;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;   
  }

  .yellow-container {
      background-image: url(../img/yellow-bg.png);
      background-repeat: no-repeat;
      background-size: 111% 110%;
      width: 100%;
      display: flex;
      display: -webkit-box;
      display: -ms-flexbox;
      flex-direction: column;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
      height: auto;
      overflow: hidden;
  }

  .first-row {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      padding-top: 15%;
      padding-left: 16%;
  }

  .first-row .text {
    display: flex;
      display: -webkit-box;
      display: -ms-flexbox;
      flex-direction: column;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
      padding: 10rem 0rem 10rem 0rem;
      width: 45%;
      max-width: 40%;

  }

  .text h3 {
      font-size: 3.5rem;
      font-weight: bold;
      margin: 0;
      font-family: brocha;
  }

  .text h5 {
    font-size: 1.6rem;
    font-weight: 100;
    margin: 0;
    padding: 1.5rem 0;
  }

  .text p {
    font-size: 1.3rem;
    width: 70%;
  }

  .first-row .img {
      width: 55%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: start;
          -ms-flex-pack: start;
              justify-content: flex-start;
  }

  .first-row img {
    width: 400px;
    height: 400px;
    position: relative;
    left: -4rem;
    bottom: -2.5rem;
  }

  .second-row {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      padding: 8% 11%;
  }

  .second-row .icon-card {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      width: 20%;
      padding-right: 4rem;
  }

  .icon-card .circle {
      height: 100px;
      width: 100px;
      background-color: #353945;
      border-radius: 50%;
  }

  .circle img {
      width: 60%;
      position: relative;
      top: 20%;
      left: 20%;
  }

#lamp {
    width: 50%;
    left: 2.5rem;
    position: relative;
    top: 1.5rem;
  }

  .icon-card .icon-text {
    
    margin-top: 2rem;
    max-width: 80%;
  }

  .icon-card .icon-text p {
    font-size: 1.3rem;
  }

  @media (max-width: 900px) {
    
    .first-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-top: 15%;
    padding-left: 12%;
    text-align: center;
    }

    .first-row .text {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        padding: 10rem 0rem 10rem 8rem;
        width: 85%;
        max-width: 84%;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start;
        text-align: left;
    }

    .text h3 {
        font-size: 6.5rem;
        font-weight: 600;
        margin: 0;
        font-family: brocha;
    }    

    .text h5 {
        font-size: 3.6rem;
        font-family: brocha;
    }

    .text p {
        font-size: 2.3rem;
        width: 100%;
        font-family: brocha;
    }

    .first-row .img {
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }

    .first-row img {
        width: 500px;
        height: 500px;
    }

    .second-row {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        padding: 8% 16%;
    }

    .second-row .icon-card {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        width: 100%;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        padding: 0;
    }

    .icon-card .circle {
    height: 200px;
    width: 200px;
    }

    .icon-card .icon-text p {
        font-size: 2.3rem;
        text-align: center;
    }

    #lamp {
        position: relative;
        top: 3rem;
        left: 5rem;
      }

  }

  @media (max-width: 420px) {

    .first-row .text {
        padding: 10rem 0rem 0rem 4rem;
    }

    .text h3 {
        font-size: 3.5rem;
    }

    .text h5 {
        font-size: 3rem;
    }

    .first-row .img {
        margin-bottom: 8rem;
    }

    .first-row img {
        width: 300px;
        height: 300px;
    }

  }

/* work us */

.work-us-bg {
    background-image: url(../img/bg-work-us.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 100;
    top: -6rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 150vh;

}

@media (min-width: 768px) {
    .work-us-bg {
        height: 100vh;
        top: -5rem;
    }
}


@media (min-width: 1024px) {
    .work-us-bg {
        top: -6rem;
    }
}

@media (min-width: 900px) {
    .work-us-bg {
        top: -9rem;
    }
}

.work-us {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 10rem;
}

.work-us.contenedor {
    width: 95%;
}

.work-us h2 {
    margin-top: 10rem;
    font-size: 2.4rem;
}

.texto-work {
    padding: 0 1rem;
}

.work-us p {
    margin-bottom: 0;
}

  .btn-more {
      display: inline-block;
      font-size: 2.2rem;
      text-decoration: none;
      color: #383b46;
      background-color: #f5df3b;
      padding: 1rem 2.5rem;
      margin: 2rem 0;
      border-radius: 1.8rem;
      font-family: brocha;
  }

  .dona-1 {
    top: 47rem;
    right: 0;
    position: absolute;
    width: 9rem;
  }
  

  .dona-2 {
    position: absolute;
    right: 2rem;
    top: 8rem;
    width: 13rem;
}

  .dona-3 {
    width: 9rem;
    position: absolute;
    left: 0rem;
    top: 10rem;
    z-index: -1;
}

.dona-4 {
    width: 5rem;
    position: absolute;
    left: 0rem;
    top: 80rem;
    z-index: -1;
}

@media (min-width: 375px) {
    .dona-1 {
        top: 60rem;
        right: 0;
        position: absolute;
        width: 9rem;
      }
      
    
      .dona-2 {
        position: absolute;
        right: 2rem;
        top: 8rem;
        width: 13rem;
    }
    
      .dona-3 {
        width: 9rem;
        position: absolute;
        left: 0rem;
        top: 10rem;
        z-index: -1;
    }
    
    .dona-4 {
        width: 5rem;
        position: absolute;
        left: 0rem;
        top: 100rem;
        z-index: -1;
    }
}
 

  @media (min-width: 900px) {
    .work-us.contenedor {
        width: 40%;
    }

    .dona-1 {
        top: 50rem;
        right: 0;
        position: absolute;
        width: 15rem;
      }
      
    
      .dona-2 {
        position: absolute;
        right: 20rem;
        top: 10rem;
        width: 13rem;
    }
    
    .dona-3 {
        width: 18rem;
        position: absolute;
        left: 0rem;
        top: 18rem;
    }

    .dona-4 {
        display: none;
    }
  }

 


  /* FIFTH SECTION */

  .fifth-section .container {
      position: relative;
      z-index: 4;
    background-image: url(../img/bg-yellow.png);
    background-repeat: no-repeat;
    background-position: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-size: cover;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    height: 150vh;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  @media (min-width: 768px) {
      .fifth-section .container {
          background-position: unset;
      }
  }

  .lamp-icon {
      padding: 5rem;
      display: flex;
      display: -webkit-box;
      display: -ms-flexbox;
      justify-content: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
      -webkit-justify-content: center;
      text-align: center;
    }

  .lamp-icon img {
      width: 50%;
  }
  
  .fifth-headline {
      text-align: center;
  }
  .fifth-headline h2 {
      font-size: 5rem;
  }

  .fifth-headline h2 span {
      font-size: 4rem;

  }

  /* creative */

  .creative {
    position: relative;
    background-image: url(../img/creative-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    top: -10rem;
    z-index: 4;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .row-creative {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
    }

    .puzzle-b-p {
        position: relative;
        top: 198px;
        right: 10rem;
        height: 0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }

    .puzzle-b-p img {
        margin-bottom: 36.5rem;
    }

    .puzzle-b-p img:last-of-type {
        margin-bottom: 0;
    }

    .puzzle-b-p .pink {
        width: 10rem;
    }

    .puzzle-b-p .blue {
        width: 15rem;
    }

    .puzzle-y {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: end;
            -ms-flex-pack: end;
                justify-content: end;
        -webkit-box-align: unset;
            -ms-flex-align: unset;
                align-items: unset;
        position: relative;
        width: 0;
        height: 0;
        left: 0rem;
    }

    .puzzle-y img:nth-child(1) {
        display: none;
    }

    .puzzle-y img:nth-child(2) {
        width: 15rem;
        position: absolute;
        top: -430px;
    }

    @media (min-width: 375px) {
        .puzzle-b-p img {
            margin-bottom: 54.5rem;
        }

        .puzzle-y {
            bottom: 10rem;
        }

        .puzzle-y img {
            width: 15rem;
        }
    }

    @media (min-width: 400px) {
        .puzzle-y {
            width: 0;
            height: 0;
            left: 3rem;
            bottom: 15rem;
        }
    }

    @media (min-width: 414px) {
        .puzzle-b-p .pink {
            width: 12rem;
        }
        .puzzle-b-p img {
            margin-bottom: 46rem;
        }

        .puzzle-y img {
            width: 15rem;
        }

        .puzzle-y {
            width: 0;
            height: 0;
            left: 3rem;
            bottom: 7rem;
        }
    }
    


  .texto-creative {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: end;
          -ms-flex-pack: end;
              justify-content: flex-end;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
  }

  .texto-creative h2 {
    background-color: #ffffff;
    z-index: 100;
    font-size: 72px;
    margin: 2rem 0;
    color: #fda21f;
    text-transform: uppercase;
}

.texto-creative p {
    background-color: #ffffff;
    line-height: 1.5;
    padding: 0;
    margin: 0;
    z-index: 100;
    font-size: 2.8rem;
}

  @media (min-width: 768px) {
    .creative {
        background-size: cover;
        background-position: unset;
        height: 100vh;
      }

    .row-creative {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
      }
  
      .puzzle-b-p {
        position: relative;
        top: 24.2rem;
        right: 25.5rem;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-flex: 0;
            -ms-flex: 0 0 calc(30% - 1rem);
                flex: 0 0 calc(30% - 1rem);
        z-index: 1;
      }
  
      .puzzle-b-p img {
          margin-bottom: 47.5rem;
      }
  
      .puzzle-b-p img:last-of-type {
          margin-bottom: 0;
      }
  
      .puzzle-b-p .pink {
          width: 15rem;
      }
  
      .puzzle-b-p .blue {
          width: 20rem;
      }
  
      .puzzle-y {
        max-width: 1200px;
        width: 100%;
        left: -5rem;
    bottom: 53rem;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        margin: 0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        /* flex-direction: column; */
        justify-content: center;
        -webkit-box-align: end;
            -ms-flex-align: end;
                align-items: flex-end;
        /* padding: 6rem 0 0 0; */
        -webkit-box-flex: 0;
            -ms-flex: 0 0 calc(30% - 1rem);
                flex: 0 0 calc(30% - 1rem);
        z-index: 1;
      }

      .puzzle-y img {
        width: 20rem;
    }
  
  
    .texto-creative {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: end;
            -ms-flex-pack: end;
                justify-content: flex-end;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
      -webkit-box-flex: 0;
          -ms-flex: 0 0 calc(40% - 1rem);
              flex: 0 0 calc(40% - 1rem);
    }
  }

  @media (min-width: 1024px) {
    .puzzle-y {
        left: -8rem;
        bottom: 15.2rem;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        margin: 0;
    }

    .puzzle-b-p {
        position: relative;
        top: 27.5rem;
        right: 31.7rem;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        margin-right: 5rem;
        -webkit-box-flex: 0;
            -ms-flex: 0 0 calc(30% - 1rem);
                flex: 0 0 calc(30% - 1rem);
        z-index: 1;
    }

    .puzzle-b-p .pink {
        width: 20rem;
    }

    .puzzle-b-p .blue {
        width: 25rem;
    }

    .puzzle-b-p img {
        margin-bottom: 60.5rem;
    }

    .puzzle-y img {
        width: 30rem;
    }

    .puzzle-y img:nth-child(1) {
        display: block;
    }

    .puzzle-y img:nth-child(2) {
       display: none;
    }
  }
  
  @media (min-width: 1200px) {

    .creative {
        height: 150vh;
    }
    .puzzle-y {
        left: -8rem;
        bottom: 474px;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        margin: 0;
    }

    .puzzle-b-p {
        position: relative;
        top: 165px;
        right: 35.7rem;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        margin-right: 5rem;
        -webkit-box-flex: 0;
            -ms-flex: 0 0 calc(30% - 1rem);
                flex: 0 0 calc(30% - 1rem);
        z-index: 1;
    }

    .puzzle-b-p img {
        margin-bottom: 24.5rem;
    }
  }

 

 

  /* creative-person  */

  .creative-person {
    background-image: url(../img/bg-frase-2.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .person {
      color: white;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
  }

  @media (min-width: 768px) {
      .creative-person {
        background-position: unset;
      }

      .person h2 {
          font-size: 48px;
      }
  }

  @media (min-width: 768px) {
    .creative-person {
        height: 50vh;
    }
  }

  @media (min-width: 1200px) {
    .creative-person {
        height: 150vh;
    }
  }

  /* FORM SECTION */

  .form-section {
      background-image: url(../img/contact-bg.png);
      background-repeat: no-repeat;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      background-size: cover;
      width: 100%;
      height: auto;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      z-index: 3;
      position: relative;
      top: -18rem;
  }
  
  .form-section h2 {
    padding-top: 15rem;
    text-transform: uppercase;
    font-size: 5rem;
    color: #353945;
  }

  .form-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    z-index: 3;
  }

  .lines {
    z-index: -1;
    height: 90%;
    position: absolute;
    width: 93%;
    right: 0;
    bottom: -15%;
  }

  .form-container .info {
      background-color: #eeeeee;
      text-align: center;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      width: 40%;
      border-radius: 26px;
      padding: 2rem;
      margin: 2rem;
      height: 50%;
  }

  .form-container .info h3 {
    margin: 0;
    text-transform: uppercase;
    color: #353945;
}

.form-container .info p {
    font-size: 1.5rem;
}

.form-container .info-socialicons {
 display: -webkit-box;
 display: -ms-flexbox;
 display: flex;
 -webkit-box-orient: horizontal;
 -webkit-box-direction: normal;
     -ms-flex-direction: row;
         flex-direction: row;
 -webkit-box-pack: center;
     -ms-flex-pack: center;
         justify-content: center;
}

.icon-border:first-of-type {
    margin-right: 2rem;
}

.icon-border {
    border: 1px solid black;
    border-radius: 7px;
    width: 25px;
    margin: 2px;
    padding: 2px;
}

form {
  width: 60%;  
  position: relative;
  top: -40px;
  padding-left: 3rem;
}

form fieldset {
    border: none;
    border-radius: 18px;
    background-color: #eeeeee;
    height: 35px;
    margin-top: 3rem;
}

fieldset input {
    border: none;
    background-color: transparent;
    padding: 9px;
    font-size: 1.3rem;
    width: 100%;
    font-family: brocha;
}

fieldset input:focus{
    outline-style: none;
}

.textarea {
    height: 40%;
}

textarea {
    height: 100%;
    width: 100%;
    background-color: transparent;
    border: none;
    font-size: 1.3rem;
    padding: 5px;
    font-family: brocha;
}

textarea:focus{
    outline-style: none;
}

.button {
    background-color: transparent;
    text-align: end;
}

button {
    width: 60%;
    background-color: #353945;
    color: #dacf32;
    height: 35px;
    border: none;
    border-radius: 18px;
    font-size: 2.5rem;
    cursor: pointer;
    font-family: brocha;
}


@media (max-width: 1024px){

    .form-section h2 {
        padding-top: 0;
    }

    .form-container {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        width: 60%;
    }

    .form-container .info {
        -webkit-box-ordinal-group: 3;
            -ms-flex-order: 2;
                order: 2;
        width: 100%;
    }

    form {
        width: 100%;
        padding-left: 0;
    }

    .button {
        text-align: left;
    }
}

@media (min-width: 2450px) {
    .form-section {
        top: -16rem;
    }

    .lines {
        height: 95%;
        width: 82%;
        bottom: -20%;
    }
}

@media (min-width: 375px) {
    .form-section {
        top: -26rem;
    } 
}

@media (min-width: 400px) {
    .form-section {
        top: -24rem;
    } 
}

@media (min-width: 768px) {
    .form-section {
        top: -5rem;
    } 
}


@media (min-width: 1024px) {
    .form-section {
        top: -7rem;
    } 
}

@media (min-width: 1200px) {
    .form-section {
        top: -8rem;
    } 
}


@media (min-width: 1280px) {
    .form-section {
        top: -9rem;
    } 
}



/* FOOTER */

footer {
    background-image: url(../img/footer.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 25vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.nav-footer ul {
    display: none;
}

.img-footer img {
    text-align: center;
    width: 100%;
}

.nav-footer.contenedor {
    margin: 0 auto;
    width: 50%;
}

@media (min-width: 768px) {
    footer {
        height: 30vh;
    }

    .nav-footer.contenedor {
        margin: 0 auto;
        width: 50%;
    }
}

@media (min-width: 1024px){
    .nav-footer.contenedor {
        width: 50%;
    }
}

@media (min-width: 1230px) {

    .nav-footer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .nav-footer ul {
        display: flex;
        list-style: none;
        padding: 0 0rem 0 0;
        flex: 0 0 calc(45% - 1rem);
        margin-left: 1.5rem;
    }

    .nav-footer ul li {
        margin-right: 1rem;
    }
    .nav-footer ul li:last-of-type {
        margin-right: 0;
    }
    
    .nav-footer a {
        color: white;
        font-size: 1.2rem;
        text-decoration: none;
        font-family: brocha;
    }

    .img-footer img {
        width: 35rem;
    }

    .img-footer::after {
        position: absolute;
        content: '';
        width: .1rem;
        background-color: white;
        height: 15rem;
        margin: 0 1.5rem;
    }
    

    footer {
        height: 90vh;
    }

    .nav-footer a  {
        font-size: 2rem;
    }

    .nav-footer ul{
        padding: 0;
        /* margin-right: 5rem; */
        margin-left: 2.5rem;
    }

    .nav-footer.contenedor {
        width: 50%;
    }
}



